body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #929292 0%, #929292 100%);
    padding: 0 1rem;
}

.cont1 {
    height: 3rem;
    width: 100%;
    max-width: 8.25rem;
}

.imgcomp {
    align-items: center;
    height: auto;
    max-width: 100%;
    border: 0.06rem solid;
    border-radius: 0.3rem; 
}

.imgquad {
    height: auto;
    max-width: 100%;
    width: 21.87rem;
    border: 0.06rem solid;
    border-radius: 0.3rem; 
    justify-content: center;
}

header {
    margin: 0 -1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 3.5rem;
    background-color: #000000;
}

/* Inicio dos códigos para a Navbar das páginas */
.navbar {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    position: relative;
}

.navbar li {
    display: inline-block;
    margin-left: 1rem;
    position: relative;
}

.navbar li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.87rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 3;
}

.navbar a::after {
    position: absolute;
    bottom: 10px;
    left: 0;
    content: " ";
    width: 0%;
    height: 0.1rem;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
}

.navbar a:hover::after {
    width: 100%;
}

nav a {
    color: var(--color-black);
    font-size: 1.25rem;
    padding: 0.5rem;
    text-decoration: none;
}
/* Fim dos códigos para Navbar */

footer {
    border-color: black;
    border-style: solid;
    border-radius: 0.6rem;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: -10rem;
    margin-bottom: -10rem;
}

header img {
    display: block;
    margin: 1rem auto;
}

.button {
    background-color: rgb(255, 0, 0);
    display: block;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    max-width: 11rem;
    text-align: center;
    text-transform: uppercase;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 1.25rem;
    margin-top: -5rem;
    margin-bottom: 1rem;
    
}

.newsletter-form input {
    border: 2px solid;
    border-radius: 1px;
    font-size: 1rem;
    gap: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 20rem;
}

@media screen and (min-width: 40rem) {
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card:nth-child(2n) {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 48rem) {
    header div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header img,
    header nav,
    header .button {
        margin: 0;
    }
}

@media screen and (min-width: 72rem) {
    .header {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 72rem;
    }

    .header.row-reverse {
        flex-direction: row-reverse;
    }

    .about-column {
        flex: 2;
    }

    .about-column p {
        font-size: 1.25rem;
        max-width: 16rem;
    }
}

@media screen and (min-width: 80rem) {
    .header {
        max-width: 100%;
    }
}

.form {
    text-align: left;
    width: 100%;
    max-width: 30rem;
    padding: 2rem;
    border: 0.1rem solid #000000;
    border-radius: 1rem;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0 8rem;
}

.imgcomp1{
    width: 1080px;
    height: 400px;
    width: 400px;
    border: 1px;
    border-radius: 5px; /*Arrendodamento das bordas*/
}

.container-modelos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
}

.container-modelos img:hover {
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;
    background-color: #929292;
}

.modelos {
    background-color: #ffffff;
    color: #000;
}

.modelos img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.h2 {
    margin-top: 6rem;
    margin-bottom: -2rem;
}

.sobre-nos {
    line-height: 1rem;
    text-align: justify;
}

.midia {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.midia img {
    width: 5rem;
    height: 5rem;
}